---
layout: page_en
title: Cloud Engineer | DevOps Culture | Consultant
permalink: /en/
translate_es: /
promo: yes
---

<p>
	How to deal with change is an art.
</p>
<p>
	Configuration management is a discipline within Software Engineering that allows to coordinate the development of
	software to minimize confusion. It is the art of identifying, organizing and controlling the changes undergone by the
	software.
</p>
<p>
	The goal is always to maximize productivity by minimizing errors.
</p>

<div class="home-recent-articles">
	<h2>Publicaciones recientes</h2>
	{% assign posts_en = site.posts | where:"lang","en"%}
	{% for post in posts_en limit: 5%}
	<div>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</div>
	{% endfor %}
</div>

<div class="home-docker-community-images">
	<h2>Docker Community</h2>
	<a href="https://www.meetup.com/Docker-Havana/" target="_blank"><img
			src="{{ site.baseurl }}/images/banner-meetup.webp" title="Docker Havana MeetUp" name="Docker Havana MeetUp" /></a>
	<img class="image-h250" src="{{ site.baseurl }}/images/docker_captain_image.webp" title="Docker Captain"
		name="Docker Captain" />
</div>

<div class="home-images">
	<h2>Source Code Management</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/git.webp" title="Git" name="Git" />
		<img src="{{ site.baseurl }}/images/home/gitflow.webp" title="Git Flow" name="Git Flow" />
		<img src="{{ site.baseurl }}/images/home/github.webp" title="GitHub" name="GitHub" />
		<img src="{{ site.baseurl }}/images/home/gitlab.webp" title="GitLab" name="GitLab" />
		<img src="{{ site.baseurl }}/images/home/sourcetree.webp" title="Source Tree" name="Source Tree" />
	</div>

	<h2>Environment Configuration</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/docker.webp" title="Docker" name="Docker" />
		<img src="{{ site.baseurl }}/images/home/vagrant.webp" title="Vagrant" name="Vagrant" />
		<img src="{{ site.baseurl }}/images/home/ansible.webp" title="Ansible" name="Ansible" />
		<img src="{{ site.baseurl }}/images/home/esxi.webp" title="Esxi" name="Esxi" />
		<img src="{{ site.baseurl }}/images/home/xenserver.webp" title="XenServer" name="XenServer" />
		<img src="{{ site.baseurl }}/images/home/orchestra.webp" title="Orchestra" name="Orchestra" />
		<img src="{{ site.baseurl }}/images/home/openldap.webp" title="OpenLdap" name="OpenLdap" />
	</div>

	<h2>Change Control</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/jira.webp" title="Jira" name="Jira" />
		<img src="{{ site.baseurl }}/images/home/zenhub.webp" title="ZenHub" name="ZenHub" />
		<img src="{{ site.baseurl }}/images/home/redmine.webp" title="Redmine" name="Redmine" />
		<img src="{{ site.baseurl }}/images/home/mantis.webp" title="Mantis" name="Mantis" />
	</div>

	<h2>Build, Release and Deployment</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/jenkins.webp" title="Jenkins" name="Jenkins" />
		<img src="{{ site.baseurl }}/images/home/travis.webp" title="Travis" name="Travis" />
		<img src="{{ site.baseurl }}/images/home/bamboo.webp" title="Atlassian Bamboo" name="Atlassian Bamboo" />
	</div>
</div>