---
layout: page
title: Ingeniero Cloud | Cultura DevOps | Consultor
permalink: /
translate_en: /en/
promo: yes
---

<p>
	Cómo enfrentar los cambios es todo un arte.
</p>
<p>
	La Gestión de Configuración es una disciplina dentro de la Ingeniería de Software que permite coordinar el desarrollo
	de software para minimizar la confusión. Es el arte de identificar, organizar y controlar las modificaciones que sufre
	el software.
</p>
<p>
	La meta es siempre maximizar la productividad minimizando errores.
</p>

<div class="home-recent-articles">
	<h2>Publicaciones recientes</h2>
	{% assign posts_es = site.posts | where:"lang","es"%}
	{% for post in posts_es limit: 5%}
	<div>
		<a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	</div>
	{% endfor %}
</div>

<div class="home-docker-community-images">
	<h2>Comunidad de Docker</h2>
	<a href="https://www.meetup.com/Docker-Havana/" target="_blank"><img
			src="{{ site.baseurl }}/images/banner-meetup.webp" title="Docker Havana MeetUp" name="Docker Havana MeetUp" /></a>
	<img class="image-h250" src="{{ site.baseurl }}/images/docker_captain_image.webp" title="Capitán de Docker"
		name="Capitán de Docker" />
</div>

<div class="home-images">
	<h2>Gestión de Código Fuente</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/git.webp" title="Git" name="Git" />
		<img src="{{ site.baseurl }}/images/home/gitflow.webp" title="Git Flow" name="Git Flow" />
		<img src="{{ site.baseurl }}/images/home/github.webp" title="GitHub" name="GitHub" />
		<img src="{{ site.baseurl }}/images/home/gitlab.webp" title="GitLab" name="GitLab" />
		<img src="{{ site.baseurl }}/images/home/sourcetree.webp" title="Source Tree" name="Source Tree" />
	</div>

	<h2>Configuración de Entornos</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/docker.webp" title="Docker" name="Docker" />
		<img src="{{ site.baseurl }}/images/home/vagrant.webp" title="Vagrant" name="Vagrant" />
		<img src="{{ site.baseurl }}/images/home/ansible.webp" title="Ansible" name="Ansible" />
		<img src="{{ site.baseurl }}/images/home/esxi.webp" title="Esxi" name="Esxi" />
		<img src="{{ site.baseurl }}/images/home/xenserver.webp" title="XenServer" name="XenServer" />
		<img src="{{ site.baseurl }}/images/home/orchestra.webp" title="Orchestra" name="Orchestra" />
		<img src="{{ site.baseurl }}/images/home/openldap.webp" title="OpenLdap" name="OpenLdap" />
	</div>

	<h2>Control de Cambios</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/jira.webp" title="Jira" name="Jira" />
		<img src="{{ site.baseurl }}/images/home/zenhub.webp" title="ZenHub" name="ZenHub" />
		<img src="{{ site.baseurl }}/images/home/redmine.webp" title="Redmine" name="Redmine" />
		<img src="{{ site.baseurl }}/images/home/mantis.webp" title="Mantis" name="Mantis" />
	</div>

	<h2>Construcción, Liberación y Despliegue</h2>
	<div class="home-images">
		<img src="{{ site.baseurl }}/images/home/jenkins.webp" title="Jenkins" name="Jenkins" />
		<img src="{{ site.baseurl }}/images/home/travis.webp" title="Travis" name="Travis" />
		<img src="{{ site.baseurl }}/images/home/bamboo.webp" title="Atlassian Bamboo" name="Atlassian Bamboo" />
	</div>
</div>