---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 10px;
  width: 100%;
}

.content {
  max-width: 780px;
  padding: 0 10px;
  width: 100%;
  float: left;
}

.sidebar {
  max-width: 220px;
  width: 100%;
  float: right;
  margin-top: -8px;

  @include mobile {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.5;
  margin: 25px 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  margin: 0px 0 15px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
  text-align: justify;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-size: 12px;
  font-style: italic;
  color: $gray;
}

.reading-time {
  font-size: 12px;
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.entry {
  text-align: justify;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 5px;
}

.masthead {
  padding: 20px 0px 10px 0px;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.translate {
  margin-top: -20px;
  margin-bottom: 15px;

  @include mobile {
    text-align: center;
  }

  nav {

    font-size: 14px;

    @include mobile {
      float: none;
      margin-top: 20px;
      display: block;
      font-size: 16px;
    }

    a {
      margin-left: 0px;
      color: $darkGray;
      text-align: center;

      @include mobile {
        margin: 0 10px;
        color: $blue;
    }
    }
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
    text-align: center
  }
}

.profile-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.profile-table-header {
  color: $gray;
  font-size: 16px;
  padding-top: 5px;
  text-align: right;
  width: 120px;

  @include mobile {
    margin: 3px 0;
  }
}

.profile-table-info {
  padding-left: 20px;
  vertical-align: middle;
}

.profile-table {
  margin-top: 10px;
}

.div-course-docker {
    text-align: center;
}

.header-promo {
  text-align: center;
  background-color: #2e95cf;
  color: #fff;
  margin-top: 20px;
  padding: 10px;

  a {
    cursor: pointer;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    padding: 10px;
  }

  &:hover {
    background-color: #1588c7;
  }
}

#index {
    margin: 0 auto;
    text-align: center;
}

.header {
    display: block;
    background-color: $lightGray;
    padding: 10px;
    cursor: pointer;
    margin: 0px;
    margin-top: 2px;
    border: 1px solid #ddd;
}

.part {
    p, input {
      display: none;
      text-align: center;
      padding: 5px;
      margin: 0px;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
}

.part input:checked ~ p {
    display: block;
}

.udemy-buttons {
  text-align: center;
  padding: 11px 12px;

  a {
    background-color: #2e95cf;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    height: 45px;
    border: 1px solid transparent;
    padding: 11px 12px;
    cursor: pointer;
    display: inline-block;
    width: 360px;
    transition: background-color .5s;

    &:hover {
      background-color: #1588c7
    }

    @include mobile {
      margin-bottom: 2px;
      width: 240px;
      height:70px;
    }
  }
}

.leanpub-button {
  text-align: center;
  padding: 11px 12px;

  a {
    background-color: #2e95cf;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
    height: 45px;
    border: 1px solid transparent;
    padding: 11px 12px;
    cursor: pointer;
    display: inline-block;
    width: 360px;
    transition: background-color .5s;

    &:hover {
      background-color: #1588c7
    }

    @include mobile {
      margin-bottom: 2px;
      width: 240px;
    }
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 10px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

#scroll-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4183C4;
  color: #fff;
  font-size: 12px;
  border-radius: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.3px;
  text-decoration: none;
  opacity: 1;
  padding: 11px 0 9px 0;
  width: 140px;
  text-align: center;
  transition: all .5s;
  &:hover{
    background-color: rgba(0,0,0,.7);
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


/**
 * Tags and Categories Style
 */

.categories-tags-page{
  li {
    list-style: none;
    font-weight: bold;
    margin-top:10px;
  }
  .size{
    font-size: 0.7em; font-weight: bold; vertical-align: super;
  }
}

.category-tags-box {
    background-color: #f2f2f2;
    padding: 5px 10px 25px 10px;
    margin-bottom: 30px;

    a {
      color: #333333;
      text-decoration: none;
      font-size: 14px;
      border-radius: 13px;
      background-color: #fff;
      padding: 5px 10px;
      border: 0px 0px 0px 0px;
      height: 28px;
      line-height: 18px;
      display: block;
      &:hover, &:active {
        background-color: $blue;
        color: $white;
      }
    }
}

.category-tags-box-field {
  float: left;
  margin: 0px 10px 10px 0px;
}

.home-images {
  text-align: center;
  img {
    height: 64px;
  }
}

.home-docker-community-images {
  text-align: center;
}

.image-h250 {
  height: 250px;
}

.home-recent-articles {
  text-align: center;
  img {
    height: 64px;
  }
}

.center-image {
    margin: 0 auto;
    display: block;
}

/*time style of tages and categories*/

time{
  margin-left: 15px;
  font-style: italic;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";


// Section for print
@media print {

  header, footer { 
    display: none; 
  }

  body { 
    background: #fff; color: #000; 
  }

  .wrapper { 
    margin: 0 auto; 
    font-size: 9pt; 
    width: 100%; 
    max-width: none; 
    padding: 4%; 
  }

  a { 
    text-decoration: none; 
    font-weight: bold; 
    color: #000; 
  }

  a:after { 
    content: " [" attr(href) "] "; 
    font-weight: normal; 
  }

  article .attachment-main_thumb { 
    display: none; 
  }
}
