<a id="scroll-top">Scroll to Top</a>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript">
  $(window).scroll(function  () {
    if($(this).scrollTop()>250){
      $('#scroll-top').fadeIn();
    }
    else{
      $('#scroll-top').fadeOut();
    }
  })
  $(document).ready(function () {
      $('#scroll-top').click(function  () {
        var $body = $("html, body");
        $body.stop().animate({scrollTop:0}, '500', 'swing');
      });
  });
</script>