<a href="https://leanpub.com/erase-una-vez-kubernetes" target="_bank">
	<img src="{{ site.baseurl }}/images/kubernetes-book/kubernetes-book.webp" alt="kubernetes book">
</a>

<img src="{{ site.baseurl }}/images/docker_captain_image.webp" alt="capitan docker">

<div class="category-tags-box clearfix">

	<h4>Categories</h4>
	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/en/blog/categories/#article" title="Article"
			rel="{{ site.categories.article.size }}">Article ({{ site.categories.article.size }})</a>
	</div>

	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/en/blog/categories/#configuration" title="Configuration"
			rel="{{ site.categories.configuration.size }}">Configuration ({{ site.categories.configuration.size }})</a>
	</div>

	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/en/blog/categories/#diagram" title="Diagram"
			rel="{{ site.categories.diagram.size }}">Diagram ({{ site.categories.diagram.size }})</a>
	</div>
</div>

<div class="category-tags-box clearfix">
	<h4>Tags</h4>
	{% for tag in site.tags %}
	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/en/blog/tags/#{{ tag[0] }}" title="{{ tag[0] }}"
			rel="{{ tag[1].size }}">{{ tag[0] }}</a>
	</div>
	{% endfor %}
</div>

<a href="https://twitter.com/morejon85" class="twitter-follow-button" data-show-count="false">Follow @morejon85</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>