<a href="https://leanpub.com/erase-una-vez-kubernetes" target="_bank">
	<img src="{{ site.baseurl }}/images/kubernetes-book/kubernetes-book.webp" alt="libro sobre kubernetes">
</a>

<img src="{{ site.baseurl }}/images/docker_captain_image.webp" alt="capitan docker">

<div class="category-tags-box clearfix">

	<h4>Categorías</h4>
	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/categorias/#articulo" title="Artículo"
			rel="{{ site.categories.articulo.size }}">Artículo ({{ site.categories.articulo.size }})</a>
	</div>

	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/categorias/#configuracion" title="Configuración"
			rel="{{ site.categories.configuracion.size }}">Configuración ({{ site.categories.configuracion.size }})</a>
	</div>

	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/categorias/#diagrama" title="Diagrama"
			rel="{{ site.categories.diagrama.size }}">Diagrama ({{ site.categories.diagrama.size }})</a>
	</div>
</div>

<div class="category-tags-box clearfix">
	<h4>Etiquetas</h4>
	{% for tag in site.tags %}
	<div class="category-tags-box-field">
		<a href="{{ site.baseurl }}/blog/etiquetas/#{{ tag[0] }}" title="{{ tag[0] }}"
			rel="{{ tag[1].size }}">{{ tag[0] }}</a>
	</div>
	{% endfor %}
</div>

<a href="https://twitter.com/morejon85" class="twitter-follow-button" data-show-count="false">Seguir a @morejon85</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>