<!DOCTYPE html>
<html lang="es">
  <head>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />


    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.baseurl }}/images/favicons/manifest.json">
    <link rel="mask-icon" href="{{ site.baseurl }}/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link rel="alternate" type="text/html" hreflang="es" href="{{ page.url }}" title="Spanish">
    <link rel="alternate" type="text/html" hreflang="en" href="{{ page.translate_en }}" title="English">

    {% include analytics.html %}
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h2 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h2>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.baseurl }}/">Inicio</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/libro/erase-una-vez-kubernetes">Libro</a>
            <a href="{{ site.baseurl }}/curso/integrando-docker-a-su-infaestructura-y-servicios">Curso</a>
            <a href="{{ site.baseurl }}/perfil">Perfil</a>
          </nav>
        </header>
      </div>
    </div>

    <div class="container">
      <header class="translate clearfix">
        {% if page.promo %}
          <a href="{{ site.baseurl }}/libro/erase-una-vez-kubernetes">
            <div class="header-promo">
              Libro de Kubernetes para aprender desde cero
            </div>
          </a>
        {% endif %}
        <nav>
          {% if page.translate_en %}
            <a href="{{ page.url }}">ES</a> |
            <a href="{{ page.translate_en }}">EN</a>
          {% endif %}
        </nav>
      </header>
    </div>

    <div class="container clearfix">

      {% if page.sidebar %}

        <div id="main" role="main" class="content">
          {{ content }}
        </div>

        <div class="sidebar">
          {% include sidebar.html %}
        </div>

      {% else %}

        <div id="main" role="main" class="container">
          {{ content }}
        </div>

      {% endif %}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include subscribe_form.html %}
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include sitelinks.html %}

    {% include scroll-to-top.html %}
  </body>
</html>
