---
layout: default_en
sidebar: yes
---

<article class="post">
  <h1>{{ page.title }}</h1>

  	<div class="date">
    	Published {{ page.date | date: "%B %e, %Y" }}
      {% if page.updated %}
       - Updated {{ page.updated | date: "%B %e, %Y" }}
      {% endif %}
   	</div>
    {% include read_time_en.html %}
  
  <div class="entry">
    {{ content }}
  </div>

 	<div class="date">
    	Published {{ page.date | date: "%B %e, %Y" }}
      {% if page.updated %}
       - Updated {{ page.updated | date: "%B %e, %Y" }}
      {% endif %}
   	</div>

  <br>
  {% include share-page_en.html %}

  {% include disqus.html %}
</article>

