---
layout: default
sidebar: yes
---

<article class="post">
  <h1>{{ page.title }}</h1>

	<div class="date">
      Publicado el {{ page.date | date: "%d/%m/%Y" }}
      {% if page.updated %}
        - Actualizado el {{ page.updated | date: "%d/%m/%Y" }}
      {% endif %} 
   	</div>
    {% include read_time.html %}
  
  	<div class="entry">
    	{{ content }}
  	</div>

  	<div class="date">
    	Publicado el {{ page.date | date: "%d/%m/%Y" }}
      {% if page.updated %}
        - Actualizado el {{ page.updated | date: "%d/%m/%Y" }}
      {% endif %} 
   	</div>

  <br>
  {% include share-page.html %}

  {% include disqus.html %}
</article>
